<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand navbar-brand-lime dropdown-toggle" href="/" id="main-brand"><img src="/images/logo.png" width="24" height="24" style="display:inline-block;" />&nbsp;EasyCTF 2015</a>
			<ul class="nav navbar-nav" id="ctf-selector-menu-list">
				<li class="dropdown">
					<a class="dropdown-toggle" id="dropdown-ctf-selector" data-toggle="dropdown" href="#">
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" id="ctf-selector-menu">
						<li class="easyctf2014-link"><a role="menuitem" tabindex="-1" href="//2014.easyctf.com" class="easyctf2014-link">EasyCTF 2014</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="collapse navbar-collapse" id="main-navbar">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-info-circle fa-fw"></i> About <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li id="link_about"><a href="/about"><i class="fa fa-info-circle fa-fw"></i> About</a></li>
						<li id="link_sponsors"><a href="/sponsors"><i class="fa fa-suitcase fa-fw"></i> Sponsors</a></li>
						<li id="link_rules"><a href="/rules"><i class="fa fa-trophy fa-fw"></i> Rules and Prizes</a></li>
					</ul>
				</li>
				<li id="link_scoreboard"><a href="/scoreboard"><i class="fa fa-bars fa-fw"></i> Scoreboard</a></li>
				<li id="link_writeups"><a href="http://writeups.easyctf.com"><i class="fa fa-pencil-square-o fa-fw"></i> Writeups</a></li>
			</ul>
		</div>
	</div>
</nav>